.form_class{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form_class input{ 
    text-align: center;
    margin: 5px;
    border: whitesmoke solid 1px;
    width: 60%;
    margin: 13px auto;
    padding: 10px;
}

.form_class textarea{
    text-align: center;
    margin: 5px;
    border: whitesmoke solid 1px;
    width: 60%;
    margin: 13px auto;
    padding: 10px;
}

.form_class button{
    width: 20%;
    text-align: center;
    margin: 13px auto;
}
